python==3.8.8
flask==2.0.1
flask_migrate==3.1.0
WTForms==2.3.3
flask_wtf==0.15.1
flask_sqlalchemy==2.5.1
sqlalchemy==1.4.23
email_validator==1.1.3
python-decouple==3.4
jinja2==3.0.1
flask-restx==0.5.1
torch==1.10.1
torchvision==0.11.2
Flask-Bootstrap4==4.0.2
cutmix @ git+https://github.com/ildoonet/cutmix@1bc006b5f40c284a6bf4ef881906e2109a27ef6c
pytorch-gradcam==0.2.1
grad-cam==1.3.7
lime==0.2.0.1
gunicorn==20.1.0

