<div class="col-md-7  pl-4 ml-0 pr-0 mr-0 w-100 " id="image-explainer" xray="">
    <div class="card-deck mb-2 w-100 h-50 mr-0 pr-0 card-image-l ">
        <a class="card rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-org"
           href="#l-show-org">
            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
            <div class="card-img-overlay  d-flex flex-column align-items-start">
                <span class="badge  bg-dark text-white mt-auto">L</span>
            </div>
        </a>
        <div class="lightbox-target card-image-org-pop" style="z-index: 10" id="l-show-org">
            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
            <a class="lightbox-close" href="#"></a>
        </div>

        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
           href="#l-show-hm-1">
            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
            <div class="card-img-overlay  d-flex flex-column align-items-start">
                <span class="badge bg-dark text-white mt-auto">HM-1</span>
            </div>
        </a>
        <div class="lightbox-target card-image-hm-pop" id="l-show-hm-1" style="z-index: 10">
            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
            <a class="lightbox-close" href="#"></a>
        </div>

        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
           href="#l-show-hm-2">

            <img class="card-img-top h-100" src=".\static\assets\images\default.png">


            <div class="card-img-overlay  d-flex flex-column align-items-start">
                <span class="badge bg-dark text-white mt-auto">HM-2</span>
            </div>
        </a>
        <div class="lightbox-target card-image-hm-pop" id="l-show-hm-2" style="z-index: 10">
            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
            <a class="lightbox-close" href="#"></a>
        </div>
    </div>
    <div class="card-deck mb-2 w-100 h-50 mr-0 pr-0 card-image-r">
        <a class="card rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-org"
           id="image_display"
           href="#r-show-org">
            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
            <div class="card-img-overlay d-flex flex-column align-items-start">
                <span class="badge bg-dark text-white mt-auto">R</span>
            </div>
        </a>
        <div class="lightbox-target card-image-org-pop" id="r-show-org" style="z-index: 10">
            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
            <a class="lightbox-close" href="#"></a>
        </div>


        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
           href="#r-show-hm-1">
            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
            <div class="card-img-overlay  d-flex flex-column align-items-start">
                <span class="badge bg-dark text-white mt-auto">HM-1</span>
            </div>
        </a>
        <div class="lightbox-target card-image-hm-pop" id="r-show-hm-1" style="z-index: 10">
            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
            <a class="lightbox-close" href="#"></a>
        </div>


        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
           href="#r-show-hm-2">
            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
            <div class="card-img-overlay  d-flex flex-column align-items-start">
                <span class="badge bg-dark text-white mt-auto">HM-2</span>
            </div>
        </a>
        <div class="lightbox-target card-image-hm-pop" id="r-show-hm-2" style="z-index: 10">
            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
            <a class="lightbox-close" href="#"></a>
        </div>
    </div>
</div>