<div class="col-3 pl-3 pl-0 ml-0 card-image-r ">
    <div class="card rounded-0 h-100">
        <ul class="nav nav-tabs nav-fill nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="infer-tab" data-toggle="tab" href="#infer" role="tab"
                   aria-controls="infer" aria-selected="true">INFERENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="metric-tab" data-toggle="tab" href="#metric" role="tab"
                   aria-controls="metric" aria-selected="false">METRICS</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="infer" role="tabpanel"
                 aria-labelledby="infer-tab">
                <div class="card-group card-thumbnail" id="infer-thumbnail" xray="">

                    <div class="card">
                        <img src=".\static\assets\images\default.png"
                             class="card-img-top img-thumbnail rounded-0 mx-auto d-block" height="100px"
                             width="100px">
                        <div class="card-img-overlay  d-flex flex-column align-items-end">
                            <span class="badge  text-white mt-auto">1</span>
                        </div>
                    </div>
                    <div class="card">
                        <img src=".\static\assets\images\default.png"
                             class="card-img-top img-thumbnail rounded-0 mx-auto d-block" height="100px"
                             width="100px">
                        <div class="card-img-overlay  d-flex flex-column align-items-end">
                            <span class="badge text-white mt-auto">2</span>
                        </div>

                    </div>

                    <div class="card">
                        <img src=".\static\assets\images\default.png"
                             class="card-img-top img-thumbnail rounded-0 mx-auto d-block" height="100px"
                             width="100px">
                        <div class="card-img-overlay  d-flex flex-column align-items-end">
                            <div class="align-items-center loading-text h5 text-white align-items-start"></div>
                            <span class="badge  text-white mt-auto">3</span>


                        </div>

                    </div>
                </div>

                <br>
                <h6 class="text-uppercase text-body text-xs font-weight-bolder">KL Classifers
                    :</h6>
                <table class="table table-sm table-striped model-choice">
                    <tbody>
                    <tr>

                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="models"
                                       id="vgg16"
                                       value="vgg16" checked>
                                <label class="form-check-label" for="inlineRadio1">VGG-16</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="models"
                                       id="vgg19"
                                       value="vgg19">
                                <label class="form-check-label" for="inlineRadio1">VGG-19</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="models"
                                       id="resnet101"
                                       value="resnet101">
                                <label class="form-check-label" for="inlineRadio1">RESNET-101</label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="models"
                                       id="resnet18"
                                       value="resnet18">
                                <label class="form-check-label" for="inlineRadio1">RESNET-18</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="models"
                                       id="resnet34"
                                       value="resnet34">
                                <label class="form-check-label" for="inlineRadio1">RESNET-34</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="models"
                                       id="resnet50"
                                       value="50">
                                <label class="form-check-label" for="inlineRadio1">RESNET-50</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <h6 class="text-uppercase text-body text-xs font-weight-bolder ">Diagnostic
                    Analysis :</h6>
                <table class="table table-sm table-last-border prediction-result prediction-proba">
                    <tbody>
                    <tr>
                        <th>KL 0:</th>
                        <td><span id="r0">0</span> %</td>
                    </tr>
                    <tr>
                        <th>KL 1:</th>
                        <td><span>0</span> %</td>
                    </tr>
                    <tr>
                        <th>KL 2:</th>
                        <td><span>0</span> %</td>
                    </tr>
                    <tr>
                        <th>KL 3:</th>
                        <td><span>0</span> %</td>
                    </tr>
                    <tr>
                        <th>KL 4:</th>
                        <td><span>0</span> %</td>
                    </tr>
                    </tbody>
                </table>

                <div class="btn-group d-flex prediction-stage" role="group" aria-label="...">
                    <a type="button"
                       class="btn  w-100 text-left btn-outline-secondary font-weight-bold rounded-0">KL
                        SCORE:</a>
                    <a type="button"
                       class="btn  w-100 text-left btn-outline-secondary font-weight-bold rounded-0"
                    >NA.</a>
                </div>

                <br>

                <div class="mt-2 pt-2" id="feedback">
                    <h6>FEEDBACK ON <span class="text-primary heatmap">HEATMAP 1</span> :</h6>
                    <form>
                        <textarea class="form-control status-box" rows="2" placeholder="Give a feedback ..."></textarea>
                        <div class="btn-toolbar mt-2 justify-content-between" role="toolbar"
                             aria-label="">
                            <div class="btn-group" role="group" aria-label="kl_scores">
                                <button type="button" class="btn btn-outline-secondary">0</button>
                                <button type="button" class="btn btn-outline-secondary">1</button>
                                <button type="button" class="btn btn-outline-secondary">2</button>
                                <button type="button" class="btn btn-outline-secondary">3</button>
                                <button type="button" class="btn btn-outline-secondary">4</button>
                            </div>

                            <div class="btn-group " role="group" aria-label="submit">
                                <a href="#" type="button" class="btn btn-outline-secondary">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade h-100 " id="metric" role="tabpanel" aria-labelledby="metric-tab" >
                <div id="chart_1"></div>
                <hr>
                <div id="chart_2"></div>
            </div>

        </div>

    </div>
</div>