<!DOCTYPE html>
<html lang="en">

<head>
    <title>
       {% block title %} {{ title }} {% endblock %}
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
        <link type="text/css" href="/static/assets/css/jquery-ui.min.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/css/app.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/css/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="/static/assets/css/bootstrap-grid.css" rel="stylesheet">
    {% endblock stylesheets %}

</head>

<body class="bg-gray-100">

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>    
    


    <div class="container-fluid">
        {% block content %}{% endblock content %}
    </div>

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script type="text/javascript" src="/static/assets/js/echarts.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/bootstrap-4-autocomplete.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/app.js"></script>
    {% endblock javascripts %}

</body>
</html>
