{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific CSS goes HERE -->
{#{% block stylesheets %}{% endblock stylesheets %}#}


{% block content %}

    <div class="pcoded-content">
        <div class="main-body">
            <div class="page-wrapper" style="margin-bottom: 25px;">
                <!-- [ Main Content ] start -->
                <nav class="navbar navbar-dark bg-dark">
                    <div class="navbar-brand header-logo">
                        <a target="_blank" class="b-brand" href="#">
                            <div class="b-bg">
                                <i class="feather icon-cpu "></i>
                                {#                                circle-notch#}

                            </div>
                            <span class="b-title font-weight-bold">{{ title }}</span>
                        </a>
                    </div>

                    <div class="col-md-offset-1 col-md-6 pl-0">
                        {% import "bootstrap/wtf.html" as wtf %}
                        <form class="form-inline" method="post" role="form" action="/">
                            {{ form.hidden_tag() }}
                            {{ wtf.form_field(form.search_name, class="form-control mr-sm-2", type="search", placeholder="Patient Name") }}
                            {{ wtf.form_field(form.submit,class="btn btn-outline-secondary my-2 my-sm-0 text-white ") }}
                        </form>

                    </div>

                    <div class="col-md-3 pull-right text-right">
                        <i class="feather icon-maximize text-white f-20 m-r-30"></i>
                        <i class="feather icon-minimize text-white f-20 m-r-30"></i>
                        <i class="feather icon-crop text-white f-20 m-r-30"></i>
                        <i class="feather icon-grid text-white f-20 m-r-30"></i>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-2 pr-0 mr-0">

                    <div class="card  rounded-0 h-25"
                         style="background-image: linear-gradient(0deg, rgba(123,122,126,0.92) 0%, #d3d7d5 100%);">
                        <div class="card-body col-md-12">

                            <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-0 pt-0 mb-4 text-secondary">
                                Patient
                                Information :</h6>
                            <table class="table table-sm table-borderless">
                                <tbody>
                                <tr>
                                    <th>Medical NO.</th>
                                    <td>{{ patient.id }}</td>
                                </tr>
                                <tr>
                                    <th>Full Name</th>
                                    <td>{{ patient.name }}</td>
                                </tr>
                                <tr>
                                    <th>Birth of Date</th>
                                    <td>{{ patient.birthdate }}</td>
                                </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="card  rounded-0 example-1 scrollbar-deep-purple bordered-deep-purple thin h-75">
                        <div id="images">
                            {% for img in images %}

                                <div class="card no-gutters mb-0 card-image-1" style="height: 100px"
                                     filename="{{ img.filename }}"
                                     pic_url="./static/assets/images/knee_original/{{ img.filename }}"
                                     xray="{{ img.cate }}">
                                    <div class="row no-gutters">
                                        <div class="col-md-7">
                                            <div class="card-body">
                                                <p class="card-text">{{ img.title }} - {{ img.cate }}</p>

                                                <p class="card-text">
                                                    <small class="text-muted">{{ img.importdate }} {{ img.importedtime }}</small>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-md-5 justify-content-end text-right">
                                            <img class="" src="./static/assets/images/knee_original/{{ img.filename }}"
                                                 class="card-img" style="width:100px;height:100px;">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-7  pl-4 ml-0 pr-0 mr-0 w-100 " id="image-explainer" xray="">

                    <div class="card-deck mb-4 w-100 h-50 mr-0 pr-0 card-image-l">
                        <a class="card rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-org"
                           href="#l-show-org"
                        >
                            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
                            <div class="card-img-overlay  d-flex flex-column align-items-start">
                                <span class="badge mt-auto">L</span>
                            </div>
                        </a>
                        <div class="lightbox-target card-image-org-pop" style="z-index: 10" id="l-show-org">
                            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
                            <a class="lightbox-close" href="#"></a>
                        </div>

                        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
                           href="#l-show-hm-1">
                            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
                            <div class="card-img-overlay  d-flex flex-column align-items-start">
                                <span class="badge mt-auto">HM-1</span>
                            </div>
                        </a>
                        <div class="lightbox-target card-image-hm-pop" id="l-show-hm-1" style="z-index: 10">
                            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
                            <a class="lightbox-close" href="#"></a>
                        </div>

                        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
                           href="#l-show-hm-2">

                            <img class="card-img-top h-100" src=".\static\assets\images\default.png">


                            <div class="card-img-overlay  d-flex flex-column align-items-start">
                                <span class="badge mt-auto">HM-2</span>
                            </div>
                        </a>
                        <div class="lightbox-target card-image-hm-pop" id="l-show-hm-2" style="z-index: 10">
                            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
                            <a class="lightbox-close" href="#"></a>
                        </div>
                    </div>


                    <div class="card-deck mb-4 w-100 h-50 mr-0 pr-0 card-image-r">
                        <a class="card rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-org"
                           id="image_display"
                           href="#r-show-org">
                            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
                            <div class="card-img-overlay d-flex flex-column align-items-start">
                                <span class="badge mt-auto">R</span>
                            </div>
                        </a>
                        <div class="lightbox-target card-image-org-pop" id="r-show-org" style="z-index: 10">
                            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
                            <a class="lightbox-close" href="#"></a>
                        </div>


                        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
                           href="#r-show-hm-1">
                            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
                            <div class="card-img-overlay  d-flex flex-column align-items-start">
                                <span class="badge mt-auto">HM-1</span>
                            </div>
                        </a>
                        <div class="lightbox-target card-image-hm-pop" id="r-show-hm-1" style="z-index: 10">
                            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
                            <a class="lightbox-close" href="#"></a>
                        </div>


                        <a class="card  rounded-0 mr-0 pr-0 card-image-2 with-caption image-link card-image-hm"
                           href="#r-show-hm-2">
                            <img class="card-img-top h-100" src=".\static\assets\images\default.png">
                            <div class="card-img-overlay  d-flex flex-column align-items-start">
                                <span class="badge mt-auto">HM-2</span>
                            </div>
                        </a>
                        <div class="lightbox-target card-image-hm-pop" id="r-show-hm-2" style="z-index: 10">
                            <img src=".\static\assets\images\default.png" height="700px" width="700px"/>
                            <a class="lightbox-close" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-3 pl-3 pl-0 ml-0 card-image-r">
                    <div class="card rounded-0 h-100">
                        <ul class="nav nav-tabs nav-fill nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="infer-tab" data-toggle="tab" href="#infer" role="tab"
                                   aria-controls="infer" aria-selected="true">INFERENCE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="metric-tab" data-toggle="tab" href="#metric" role="tab"
                                   aria-controls="metric" aria-selected="false">METRICS</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="infer" role="tabpanel"
                                 aria-labelledby="infer-tab">
                                <h6 class="text-uppercase text-body text-xs font-weight-bolder">Heatmaps :</h6>
                                <div class="card-group card-thumbnail" id="infer-thumbnail" xray="">

                                    <div class="card">
                                        <img src=".\static\assets\images\default.png"
                                             class="card-img-top img-thumbnail rounded-0 mx-auto d-block" height="100px"
                                             width="100px"
                                        >

                                    </div>
                                    <div class="card">
                                        <img src=".\static\assets\images\default.png"
                                             class="card-img-top img-thumbnail rounded-0 mx-auto d-block" height="100px"
                                             width="100px"
                                        >

                                    </div>

                                    <div class="card">
                                        <img src=".\static\assets\images\default.png"
                                             class="card-img-top img-thumbnail rounded-0 mx-auto d-block" height="100px"
                                             width="100px"
                                        >
                                        {#                                          <div class="card-img-overlay d-flex justify-content-center align-middle ">#}
                                        {#                                            <div class="align-items-center loading-text"></div>#}
                                        {#                                          </div>#}

                                    </div>
                                </div>


                                <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4 pt-4">KL Classifers
                                    :</h6>
                                <table class="table table-sm table-striped model-choice">
                                    <tbody>
                                    <tr>

                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="models"
                                                       id="vgg16"
                                                       value="vgg16">
                                                <label class="form-check-label" for="inlineRadio1">VGG-16</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="models"
                                                       id="vgg19"
                                                       value="vgg19">
                                                <label class="form-check-label" for="inlineRadio1">VGG-18</label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="models"
                                                       id="resnet34"
                                                       value="resnet34" checked>
                                                <label class="form-check-label" for="inlineRadio1">RESNET-34</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="models"
                                                       id="resnet50"
                                                       value="resnet50">
                                                <label class="form-check-label" for="inlineRadio1">RESNET-50</label>
                                            </div>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>


                                <h6 class="text-uppercase text-body text-xs font-weight-bolder mt-4 pt-4">Diagnostic
                                    Analysis :</h6>
                                <table class="table table-sm table-last-border prediction-result prediction-proba">
                                    <tbody>
                                    <tr>
                                        <th>KL 0:</th>
                                        <td><span id="r0">0</span> %</td>
                                    </tr>
                                    <tr>
                                        <th>KL 1:</th>
                                        <td><span>0</span> %</td>
                                    </tr>
                                    <tr>
                                        <th>KL 2:</th>
                                        <td><span>0</span> %</td>
                                    </tr>
                                    <tr>
                                        <th>KL 3:</th>
                                        <td><span>0</span> %</td>
                                    </tr>
                                    <tr>
                                        <th>KL 4:</th>
                                        <td><span>0</span> %</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="btn-group d-flex prediction-stage" role="group" aria-label="...">
                                    <a type="button"
                                       class="btn  w-100 text-left btn-secondary font-weight-bold rounded-0">KL
                                        SCORE:</a>
                                    <a type="button"
                                       class="btn  w-100 text-left btn-secondary font-weight-bold rounded-0"
                                    >NA.</a>
                                </div>
                                <div class="row mt-2 pt-2">

                                    <!-- Material inline 1 -->
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" id="materialInline1"
                                               name="inlineMaterialRadiosExample">
                                        <label class="form-check-label" for="materialInline1">Agree</label>
                                    </div>

                                    <!-- Material inline 2 -->

                                    <div class="form-check form-check-inline ">
                                        <input type="radio" class="form-check-input" id="materialInline2"
                                               name="inlineMaterialRadiosExample">
                                        <label class="form-check-label" for="materialInline2">Disagree</label>
                                    </div>

                                    <div class="d-none">
                                        <select class="form-check form-check-inline ">
                                            <option selected>Actual Stage</option>
                                            <option value="0">KL 0</option>
                                            <option value="1">KL 1</option>
                                            <option value="2">KL 2</option>
                                            <option value="3">KL 3</option>
                                            <option value="4">KL 4</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade h-100" id="metric" role="tabpanel" aria-labelledby="metric-tab">


                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{#{% block javascripts %}{% endblock javascripts %}#}
