{% extends "layouts/base.html" %}

{% block title %} {{ title }} {% endblock %}

<!-- Specific CSS goes HERE -->
{#{% block stylesheets %}{% endblock stylesheets %}#}

{% block content %}

    <div class="pcoded-content pt-3">
        <div class="main-body">
            {% include "includes/navigation.html" %}
            <div class="row">
                {% include "includes/leftbar.html" %}
                {% include "includes/content.html" %}
                {% include "includes/rightbar.html" %}
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{#{% block javascripts %}{% endblock javascripts %}#}
